<div class="patent">
  <h2><b>Patents</b></h2>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">2021</th>
          <td>
            <b>Device for accelerating self-attention operation in neural networks (Pending - Application No. 1020210190300)</b><br>
            with Jae W. Lee, Tae Jun Ham, Seong Hoon Seo, Hyunji Choi, Soosung Kim, Sung Jun Jung
          </td>
        </tr>

        <tr>
          <th scope="row">2020</th>
          <td>
            <b>Hardware Accelerator Performing Search using Inverted Index Structure and Search System Including the Hardware Accelerator (Pending - Application No. 17/118.085)</b><br>
            with Jae W. Lee, Jun Heo, Jaeyeon Won, Tae Jun Ham
          </td>
        </tr>

        <tr>
          <th scope="row">2020</th>
          <td>
            <b>Garbage Collection Device having Subunit and Memory System having the Same (Pending - Application No. 1020200125740)</b><br>
            with Jae W. Lee, Jaeyoung Jang, Jun Heo
          </td>
        </tr>

      </table>
    </div>
</div>
