<div class="teaching">
  <h2>Teaching Experience</h2>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">Sep-Dec, 2018</th>
          <td>
            Teaching assistant for <b>Computer Architecture Course (Instructor: Prof. Jae W. Lee)</b><br>
            <i><b>Course Summary: </b></i> Learning computer architecture including ISA, CPU, Pipeline, Memory hierarchy, I/O devices.
          </td>
        </tr>

        <tr>
          <th scope="row">Mar-Jun, 2018</th>
          <td>
            Teaching assistant for <b>Hardware System Design (Instructor: Prof. Jae W. Lee)</b><br>
            <i><b>Course Summary: </b></i> Learning the basic concepts of hardware system design and practicing how to implement hardware systems using Verilog by weekly practice labs.
          </td>
        </tr>

        <tr>
          <th scope="row">Mar-Jun, 2017</th>
          <td>
            Undergraduate Mentor for <b>Basic Engineering Design (Instructor: Prof. Myungwhan Choi)</b><br>
            <i><b>Course Summary: </b></i> Learning the basic concepts and grammar of C language and fostering the ability to develop and design algorithm through weekly programming practices.
          </td>
        </tr>

        <tr>
          <th scope="row">Sep-Dec, 2016</th>
          <td>
            Undergraduate Mentor for <b>C programming (Instructor: Prof. Ji-Hwan Kim)</b><br>
            <i><b>Course Summary: </b></i> Learning the advanced concepts and grammar of C language and fostering the ability to develop and design algorithm through weekly programming practices.
          </td>
        </tr>

        <tr>
          <th scope="row">Mar-Jun, 2016</th>
          <td>
            Undergraduate Mentor for <b>Computational Thinking (Instructor: Prof. Jungyun Seo)</b><br>
            <i><b>Course Summary: </b></i> Learning C++ and Python and problem solving skills with computational thinking by solving various kinds of problems.
          </td>
        </tr>


      </table>
    </div>
</div>
